
#beer {
            background-image: url("./img/fondoBeer.jpg");
            height: 150px;
            width: 175px;
            float: none;
            background-color: rgba(32, 3, 3, 0.658);
            border-radius: 13px ;
        }


        .center-outer {
        display: table;
        width: 100%;
        height: 100%;
        }

        .center-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        }

        /* Essential CSS - Makes the effect work */



        .bubbles {
        display: inline-block;
        font-family: Georgia, 'Times New Roman', serif;
        position: relative;
        }

        .bubbles h1 {
        position: relative;
        margin: 1em 0 0;
        
        font-family: Georgia, 'Times New Roman', serif;
        color: rgba(201, 145, 25, 0.938);
        z-index: 2;
        }

    .individual-bubble {
        position: absolute;
        border-radius: 100%;
        bottom: 10px;
        background-color: rgba(216, 112, 27, 0.897);
        z-index: 1;
    }