block slider
    .slideshow
        ul.slider
            li.slider-li
                img.slider-img(src="img/imagenes/imagen1.jpg", alt="")
            li.slider-li
                img.slider-img(src="img/imagenes/imagen2.jpg", alt="")
            li.slider-li
                img.slider-img(src="img/imagenes/imagen3.jpg", alt="")
            li.slider-li
                img.slider-img(src="img/imagenes/imagen4.jpg", alt="")
        ol.pagination
        .left   
            span.icon-chevron-left
        .right  
            span.icon-chevron-right