block slider
    .slideshow
        ul.slider
            li.slider-li
                .filter-sli
                img.slider-img(src="img/imagenes/beer-203855_1920.jpg", alt="")
            li.slider-li
                .filter-sli
                img.slider-img(src="img/imagenes/beer-349876_1920.jpg", alt="")
            li.slider-li
                .filter-sli
                img.slider-img(src="img/imagenes/beer-422138_1920.jpg", alt="")
            li.slider-li
                .filter-sli
                img.slider-img(src="img/imagenes/beer-926287_1920.jpg", alt="")
        ol.pagination
        .left   
            span.icon-chevron-left
        .right  
            span.icon-chevron-right